<h1>Choose a Legislator</h1>

<%= form_tag(legislator_path(1), :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :lastname => nil %>
  </p>
<% end %>